.container {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.whatNext {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.whatNextTitle {
font-size: 36px;
}

.link {
    font-weight: 700;
}